@layout LoginLayout
@page "/"
@using Blazor.Shared.Enums
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient client
@inject IJSRuntime jsRunTime
@inject NavigationManager navManager


<PageTitle>Login</PageTitle>

<div style="height: 15rem;"></div>
<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <EditForm Model="@login" OnValidSubmit="@Submit">
            <label for="username" class="form-label">Username</label>
            <input @bind="@login.Username" class="form-control" name="username" />
            <label for="password" class="form-label">Password</label>
            <input type="password" @bind="@login.Password" class="form-control" name="password" />
            <button type="submit" class="btn btn-primary mt-2">Login</button>
        </EditForm>
    </div>
</div>

@code{
    private LoginEntity login = new();
    private bool _authorized { get; set; } = false;
    private Tools tools { get; set; } = new();

    private async void Submit()
    {
        if(string.IsNullOrEmpty(login.Username) || string.IsNullOrEmpty(login.Password))
        {
            return;
        }
        HttpResponseMessage response;
        using(var request = new HttpRequestMessage(HttpMethod.Post, client.BaseAddress + "validation"))
        {
            request.Headers.Add("username", login.Username);
            request.Headers.Add("password", login.Password);
            response = await client.SendAsync(request);
        }

        var stringToken = await response.Content.ReadAsStringAsync();
        Guid authToken = Guid.Parse(stringToken.Replace("\"", ""));

        if(Guid.Empty == authToken)
        {
            await jsRunTime.InvokeVoidAsync("window.alert", "Wrong Username or Password!");
            return;
        }

        _authorized = true;
        await localStorage.SetItemAsync("authToken", authToken);
        await tools.LoadAuthToken(client, localStorage);
        var employee = await client.GetFromJsonAsync<EmployeeViewModel>("/employee/current");

        if(employee.EmployeeType == EmployeeType.Manager || employee.EmployeeType == EmployeeType.Cashier)
        {
            navManager.NavigateTo("/customers");    
        }
        else
        {
            navManager.NavigateTo("/items");
        }
    }


    class LoginEntity
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}