@page "/newitem"
@using FuelStation.Blazor.Shared.Enums
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager
@inject ILocalStorageService localStorage


<h3 class="mb-5">New Item</h3>

<EditForm Model="@item" OnValidSubmit="@Save">
    <div class="row">
        <div class="col-1">
             <label for="code" class="form-label">Code</label>
        </div>
        <div class="col-3">
            <InputText @bind-Value=item.Code name="code" class="form-control" pattern="[A-Za-z0-9]{1,15}" title="It must be at most 3 and 15 characters long." />
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <label for="description" class="form-label">Description</label>
        </div>
        <div class="col-3">
            <InputText @bind-Value=item.Description class="form-control" name="description" pattern="[A-Za-z]{1,20}" title="It must be at most 20 characters long." />
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <label for="type" class="form-label">Type</label>
        </div>
        <div class="col-3">
            <InputSelect @bind-Value=item.ItemType class="form-control" name="type">
                @foreach(var type in Enum.GetValues(typeof(ItemType)))
                {
                    <option value="@type">@type</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <label for="cost" class="form-label">Cost</label>
        </div>
        <div class="col-3">
            <InputNumber @bind-Value=item.Cost class="form-control" name="cost" pattern="[0-9]{9}" title="It must be 9 digits long. Only digits."/>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <label for="price" class="form-label">Price</label>
        </div>
        <div class="col-3">
            <InputNumber @bind-Value=item.Price class="form-control" name="price" pattern="[0-9]{9}" title="It must be 9 digits long. Only digits."/>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <button type="submit" class="btn btn-primary mt-3">Save</button>
        </div>
        <div class="col-1">
            <button class="btn btn-danger mt-3" @onclick="GoBack">Cancel</button>
        </div>
    </div>
</EditForm>

@code {
    private ItemViewModel item { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {

    }

    private async void Save()
    {

    }

    private async void GoBack()
    {
        navManager.NavigateTo("/customers");
    }

}