@inherits LayoutComponentBase
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager
@inject ILocalStorageService localStorage


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div class="top-row px-5">
            <button class="btn btn-primary" @onclick="LogOut">Log Out</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private Tools _tools { get; set; } = new();

    private async Task LogOut()
    {
        await _tools.LoadAuthToken(httpClient, localStorage);
        await httpClient.PostAsJsonAsync("/employee/logout", "");

        navManager.NavigateTo("/", true);
    }
}
